# .buildpath
# .DS_Store
# .project
# .settings
# .idea
# /api
# /public/api
# /public/assets/dist
# /node_modules

/*

!/.gitignore
!/app/im
!/app/config.php
!/archive
!/composer.json
!/public/themes/simpleboot3/im
!/public/static/js/initIM.js
!/public/static/js/gateway-client.js
!/Applications

# 测试用的证书文件
/archive/**/*.crt
/archive/**/*.key
/archive/**/*.csr
/archive/**/*.pem