

.x-fill {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
}

.x-flex {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    flex-grow: 1;
    flex: 0;
    align-items: stretch;
    justify-content: flex-start;
}

.x-rotate {
    animation: x-rotate 1.5s infinite linear;
}

.x-absolute-center {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50vw;
    top: 50vh;
    /* min-width: 340px; */
    max-width: 100vw;
}

@keyframes x-rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.x-colon::after {
    content: ":"
}