.contextmenuul {
    display: none;
    position: absolute;
    top: 40px;
    right: 0;
    list-style: none;
    width: 80px;
    background: #FFFFFF;
    overflow: hidden;
    box-shadow: 1px 1px 5px #DDDDDD;
    z-index: 99;
    border: 1px solid #C4C4C4;
}

.contextmenuul .contextli {
    width: 100%;
    margin: 0 !important;
    min-height: 20px !important;
    padding: 0 !important;
}

.contextmenuul .contextli:hover {
    background-color: #f3f3f3;
}

.contextmenuul .contextli a {
    cursor: pointer;
    display: block;
    font-size: 13px;
    padding: 8px;
    color: #000 !important;
}

.contextmenuul .contextli a span {
    display: inline-block;
    width: 25px;
}

.contextulline {
    width: 100%;
    height: 1px;
    background-color: #EDEDED;
}

.messagefail_img {
    display: none;
    position: absolute;
    left: -42px;
    width: 26px;
}

.x-new-message .x-new-message-hints {
    display: inline-block !important;
}

.x-new-message-hints {
    width: 10px !important;
    height: 10px !important;
    border-radius: 5px;
    background-color: tomato;
    box-shadow: 1px 1px 1px rgba(3, 3, 3, 0.3);
    padding: 0 !important;
}

.x-msg-del {
    position: absolute;
    top: 0px;
    right: 5px;
    cursor: pointer;
    z-index: 1000;
}

.x_video_call_container {
    width: 100%;
    height: 100%;
    min-width: 180px;
    min-height: 320px;
    position: relative;
    display: block;
    overflow: auto;
    box-sizing: border-box;
}

.x_video_call_video {
    position: relative;
    object-fit: fill;
    width: 100%;
    height: 100%;
    display: block;
    box-sizing: border-box;
    z-index: 101;
}

.x_video_call_panel {
    position: absolute;
    background: linear-gradient(rgba(3, 3, 3, 0), rgba(3, 3, 3, .3));
    height: 160px;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 102;
    text-align: center;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 15px 0;
}

.x_video_call_btn {
    border-width: 0;
    padding: 0;
    margin: 0;
    width: 50px;
    height: 50px;
    cursor: pointer;
    display: inline-block;
}

.x_video_call_btn_g {
    width: 55%;
    justify-content: space-between;
    display: flex;
}

.x_video_call_btn_g.x_no_agree .x_call_agree {
    display: none;
}

.x_video_call_btn_g.x_no_agree {
    justify-content: center;
}

.x_video_call_btn:hover {
    opacity: .6;
}

.x_video_call_btn:active {
    opacity: .3;
}