.mytips {
    display: none;
    background-color: #1E2021;
    padding: 8px;
    width: 30px;
    text-align: center;
    position: absolute;
    top: -40px;
    right: 0;
    z-index: 999;
    border-radius: 3px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
    color: white;
    font-size: 13px;
    line-height: 1.4;
}

.mytips::before {
    position: absolute;
    content: '';
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-top-color: #1E2021;
    top: 34px;
    right: 8px;
}

.messagefail_img {
    display: none;
    position: absolute;
    left: -42px;
    width: 24px;
}