<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>查找</title>
    <link rel="stylesheet" href="__STATIC__/libs/bootstrap/css/bootstrap.min.css">
    <style type="text/css">
        body {
            width: 100%;
            height: 100%;
        }
    </style>
</head>

<body>
    <div class="container">
        <ul class="nav nav-tabs">
            <li class="nav-item" v-for="t of tabs" :key="t.key">
                <a :class="['nav-link', activeTab != t.key? '': 'active']" 
                    @click="onSwitchTab"
                    :tab="t.key"
                    href="javascript:;">{{t.text}}</a>
            </li>
        </ul>

        <form class="form my-4" action="" @submit="onSearch">
            <div class="form-group row">
                <div class="col-9">
                    <input ref="condition" type="hidden" name="condition" :value="activeTab" />
                    <input ref="keyword" type="text" class="form-control" name="keyword" 
                        :placeholder="'请输入' + (activeTab != 'groups'? '好友': '群聊') + '名称或 id 进行查找.'" />
                </div>
                <button type="submit" class="col-3 btn btn-primary">查找</button>
            </div>
        </form>
        <search-result :data="data" :condition="activeTab" />
    </div>

    <script type="text/x-template" id="search-result">
        <div class="row">
            <div v-if="data === null" class="col-12">
                请输入关键字或 id 开始搜索.
            </div>
            <div v-else-if="data.length !== 0" class="col-12 row">
                <div v-for="(g,i) of data" class="col-md-6 shadow-sm position-relative py-2 my-2" style="overflow: hidden;">
                    <div class="row" style="width: 320px;">
                        <div class="col-4">
                            <img :src="g.avatar || 'https://i.loli.net/2018/12/10/5c0de4003a282.png'" 
                                alt="" 
                                style="width: 100%; height: auto; ">
                        </div>
                        <div v-if="condition !== 'groups'" class="col-8">
                            <p class="h4 my-0 py-0">{{g.username}}({{g.id}})</p>
                            <p style="margin: 0; font-size: 12px;">性别: {{g.sex !== 1? (g.sex !== 2? "保密": "女"):"男"}}</p>
                            <p class="text-truncate" style="margin: 0;"><small>签名: {{g.sign || "木有签名"}}</small></p>
                        </div>
                        <div v-else class="col-8">
                            <p class="h4 my-0 py-0">{{g.groupname}}({{g.id}})</p>
                            <p style="margin: 0; font-size: 12px;">人数: {{g.member_count}}</p>
                            <p class="text-truncate" style="margin: 0;"><small>描述: {{g.description}}</small></p>
                        </div>
                    </div>
                    <button 
                        class="btn btn-primary py-1 px-2" 
                        style="font-size: 12px; float: right;"
                        :x-index="i"
                        @click="onClick">
                        {{condition !== "groups"? "添加好友":"加入群"}}</button>
                </div>
            </div>
            <div v-else class="col-12" style="height: 200px;">
                <p class="py-0 my-0" style="line-height: 200px; text-align: center;">
                    没有找到符合搜索条件的{{condition !== "groups"? "用户":"群组"}}.
                    <a v-if="condition=='groups'" @click.prevent="onCreate" href="newgroup.html">建立群组.</a>
                </p>
            </div>
        </div>
    </script>
    <script src="__STATIC__/libs/vue-2.6.9.js"></script>
    <script type="text/javascript">
        // console.log(window.parent.document.body);
        // window.parent.postMessage({a: 1});
        new Vue({
            el: "body > .container",
            data: function () {
                return {
                    tabs: [
                        { text: "查找好友", key: "friends" },
                        { text: "查找群聊", key: "groups" }
                    ],
                    activeTab: "friends",
                    data: null
                };
            },
            methods: {
                onSwitchTab: function(event) {
                    var element = event.target;
                    var tab = element.getAttribute("tab");
                    this.activeTab = tab;

                    this.data = null;
                },
                onSearch: function(event) {
                    event.preventDefault();

                    var data = {};
                    data.keyword = this.$refs.keyword.value;
                    data.condition = this.$refs.condition.value || this.activeTab;
                    var url = this.activeTab !== "friends"? 
                        "/im/contact/group":
                        "/im/contact/user"; 

                    $.ajax({
                        url: url,
                        method: "GET",
                        data: data,
                        context: this,
                        success: function(data, status, xhr) {
                            if (data.code) {
                                layer.msg(data.msg);
                                return;
                            }
                            this.data = data.data;
                        },
                        error: function(xhr, status, message) {
                            layer.msg("查找出错啦~ 请稍后重试. \n\r错误信息:" + message,
                                { icon: 2, time: 5000 });
                        }
                    });
                }
            }, 
            components: {
                "search-result": {
                    props: ["data", "condition"],
                    template: "#search-result",
                    methods: {
                        // 新建分组
                        onCreate(e) {
                            if (window.parent) {
                                window.parent.postMessage({
                                    type: "layer",
                                    method: "open",
                                    options: {
                                        type: 2,
                                        area: ['360px', '640px'],
                                        content: "http://"+location.host+"/im/index/newgroup"
                                    }
                                }, "*");
                            }
                        },
                        // 加入群聊或加为好友
                        onClick(e) {
                            // console.log(this);
                            if (window.parent) {
                                var index = e.target.getAttribute("x-index");
                                var contact = this.data[index];
                                var type, username;
                                if (this.condition !== "groups") {
                                    type = "friend";
                                    username = contact.username;
                                } else {
                                    username = contact.groupname;
                                    type = "group";
                                }
                                // 给主窗口发送消息, 激活添加窗口
                                window.parent.postMessage({
                                    type: "layim",
                                    method: "add",
                                    contact: {
                                        id: contact.id,
                                        type: type,
                                        username: username,
                                        avatar: contact.avatar || "https://i.loli.net/2018/12/10/5c0de4003a282.png"
                                    }
                                }, "*");
                            }
                        }
                    }
                }
            }
        });
    </script>
    
    <script src="__STATIC__/libs/jquery-3.3.1.min.js"></script>
    <script src="__STATIC__/libs/bootstrap/js/bootstrap.min.js"></script>
    <script src="__STATIC__/libs/layer/layer.js"></script>
</body>

</html>